<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Маркетплейс</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="/public/js/main.js"></script>
</head>
<body>

    <h1>Список товаров</h1>

    <div class="product-grid">
        {{ foreach (products as product) }}

            <div class="product-card">
                <img src="/public/img/img_placeholder.webp" alt="Product 1">
                <h3>{{ product['name'] }}</h3>

                <p class="price">₽{{ product['price'] }}</p>
                <p class="description">{{ product['description'] }}</p>

                <div class="rating">
                    <span>{{ product['stars'] }}</span>
                    <span class="star">&#9733;</span> 
                </div>
                <button class="add-to-cart">Добавить в корзину</button>
            </div>

        {{ endforeach }}
    </div>
    
</body>
</html>

