
body {
    font-family: Arial, sans-serif;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.star {
    color: gold;
    margin-left: 5px;
}

button.add-to-cart {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button.add-to-cart:hover {
    background-color: #ff4500;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

.description {
    font-size: 14px;
    color: #666;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.auth-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 20px;
}

.auth-buttons button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.auth-buttons a {
    text-decoration: none;
    color: white
}

.auth-buttons button:hover {
    background-color: #0056b3;
}

